:root {
    /* font-family: "Rubik", sans-serif; */
    --ff-rubik: "Rubik", sans-serif;

    --white: #FFF;
    --black: #000;
}

.main-wrapper {
    font-family: var(--ff-rubik);
}

.main-header {
    min-height: 30vh;
    background-image: url("../assets/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-header-inner-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-header h1 {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--white);
    font-size: 26px;
}

.ip-address-form {
    margin-bottom: 24px;
    position: relative;
}

.ip-address-form input {
    width: 100%;
    font-size: 18px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--black);
}

.ip-address-form button {
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--black);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
}

.ip-address-info {
    list-style-type: none;
    padding-left: 0;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
}

.ip-address-info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.ip-address-info-item:last-child {
    margin-bottom: 0;
}

.ip-address-info-item-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #2C2C2C77;
    font-weight: 700;
}

.ip-address-info-item-value {
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
}

#map {
    height: 70vh;
    width: 100%;
}
