.main-wrapper {
}

.main-header {
    min-height: 30vh;
    background-image: url("../assets/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-header-inner-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-header h1 {
    margin-top: 0;
    margin-bottom: 24px;
}

.ip-address-form {
    margin-bottom: 24px;
}

.ip-address-info {
    list-style-type: none;
    padding-left: 0;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}

#map {
    height: 70vh;
    width: 100%;
}
